@use './variables' as *;
@use './mixins' as *;

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
}
html,
body {
	margin: 0;
	margin-right: 0%;
}
* {
	max-width: 768px;
	box-sizing: inherit;
	width: 100vw;
}

// @font-face{
//     font-family: 'Avenir Next';
//     src: url(../.././Assets/Font/AvenirNextLTPro-Regular.otf);

// }

@include font-face;

// @font-face {
// 	font-family: 'Avenir Next Bold' face;
// 	src: url(../../Assets/Font/AvenirNextLTPro-Bold.otf);

@font-face {
	font-family: 'Avenir Next Demi';
	src: url(../../Assets/Font/AvenirNextLTPro-Demi.otf);
}

@font-face {
	font-family: 'Avenir Next';
	src: url(../.././Assets/Font/AvenirNextLTPro-Regular.otf);
}

.h1 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
}
.h2 {
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
}

.p {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #323232;
}

.main {
	@include marg;
}

.body {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 767px;
	margin: 0;
}

.header {
	background-color: #323232;
	max-width: 768px;
	display: flex;
	padding-top: 1.5vh;
	padding-bottom: 2vh;
	height: 13vh;
	margin-left: 0px;
	margin-right: auto;
	justify-content: center;
	width: 107vw;

	@include tablet {
		display: inline-flex;
		padding-right: 225vw;
		height: 7vh;
		width: 152vw;
	}
	@include desktop {
		display: inline-flex;
		padding-right: 239vw;
		height: 9vh;
		min-width: 750vw;
		padding-bottom: 10vh;
		padding-top: 16vh;
	}
}

.header__name {
	top: 2.5vh;
	color: white;
	margin: 0%;
	position: absolute;
	max-width: 37%;
	right: 31vw;
	font-family: "Avenir Next";

	@include tablet {
		display: flex;
		font-size: 10vw;
		min-width: 8vw;
		position: absolute;
		left: 3vw;
		top: 2vh;
		width: 37vw;
		height: 3vh;
	}

	@include desktop {
		display: flex;
		font-size: 10vw;
		min-width: 19vw;
		position: absolute;
		left: 25vw;
		top: 6vh;
		width: 46vw;
		height: 11vh;
	}
}

.header__nav {
	display: flex;
	align-self: end;
	font-size: 14px;
	position: relative;
	left: 7vw;

	@include tablet {
		display: inline-flex;
		position: relative;
		bottom: 2.5vh;
		left: 10vw;
	}
}

.header__nav--items1 {
	color: white;
	margin: 0px 118px 0px -13px;
	font-family: Avenir Next;
	right: -12vw;
	position: relative;
	font-weight: 400;
	top: 0.5vh;
	font-size: 18px;

	@include tablet {
		display: inline-flex;
		position: relative;
		top: 4.6vh;
		left: 82vw;
		font-size: 2.5vw;
		border-bottom: solid 4px white;
		max-width: 9vh;
		padding-bottom: 3%;
		justify-content: center;
	}
	@include desktop {
		display: inline-flex;
		position: relative;
		top: 11.6vh;
		left: -144vw;
		font-size: 2.5vw;
		border-bottom: solid 6px white;
		max-width: 38vh;
		padding-bottom: 10%;
		justify-content: center;
		font-size: 4.5vw;
	}
}

.header__nav--items2 {
	color: white;
	margin: 0px 118px 0px -13px;
	font-family: Avenir Next;
	right: -12vw;
	position: relative;
	font-weight: 400;
	top: 0.5vh;
	font-size: 18px;

	@include tablet {
		display: flex;
		position: relative;
		left: 79vw;
		top: 4.5vh;
		font-size: 2.75vw;
	}
	@include desktop {
		display: inline-flex;
		position: relative;
		top: 11.6vh;
		left: -133vw;
		font-size: 2.5vw;
		max-width: 38vh;
		padding-bottom: 10%;
		justify-content: center;
		font-size: 4.5vw;
		opacity: .6;
	}
}

// .hero {
// 	opacity: #323232 50%;
// 	background-image: url(../../Assets/Images/hero-bio.jpg);
// 	max-width: 100%;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	margin: auto;
// 	padding: 21%;
// }

// .hero__image--opacity {
// 	background-color: #323232;
// 	height: ;
// 	width: inherit;
// }

.hero__image {
	position: absolute;
	padding-top: auto;
	margin-top: -12px;
	position: relative;
	top: 13px;
	width: 107vw;
	background-image: url(../../Assets/Images/hero-bio.jpg);
	height: 40vh;
	background-size: cover;
	background-position: center center;
	background-color: dimgray;
	background-blend-mode: multiply;

	@include tablet {
		padding-bottom: 40vh;
		padding-right: 226vw;
		height: 58vh;
	}
	@include desktop {
		padding-bottom: 40vh;
		padding-right: 241vw;
		height: 156vh;
		min-width: 1434vh;
		background-size: inherit;
	}
}

// .hero__image--opacity {

// 	// position: absolute;
// 	// z-index: -1;

// 	// //need to set parent as absolute so that this is relative to it
// }

.hero__name {
	color: white;
	margin: 0%;
	position: relative;
	right: -7vw;
	bottom: 23vh;
	font-family: Avenir Next Demi;
	font-weight: 500;
	font-size: 7vw;

	@include tablet {
		display: flex;
		font-size: 13vw;
		min-width: 1000%;
		position: bottom;
		position: relative;
		bottom: 36vh;

		@include desktop {
			display: flex;
			font-size: 17vw;
			min-width: 1000%;
			position: bottom;
			position: relative;
			bottom: 99vh;
			background-size: inherit;
			margin-left: 91vw;
		}
	}
}
// .gallery {
// 	display: flex;
// 	flex-direction: column;
// 	margin: 0 20px;

// 	@include tablet {
// 		flex-direction: row;
// 		flex-wrap: wrap;
// 		justify-content: space-evenly;
// 		align-content: space-evenly;

// 		&__item {
// 			text-align: center;
// 			background: lightblue;
// 			margin: 20px 0;
// 			padding: 20px 0;
// 			font-size: 5rem;
// 			border: radius 5px;
// 			transition: background 1s;
// 		}
// 	}
// }

// @include tablet {
// 	.gallery {
// 		width: 40%;
// 		margin: 3vw 0;
// 		background: lightgreen;
// 	}
// }

// @include desktop {
// 	.gallery {
// 		&__item {
// 			width: 30%;
// 			margin: 1.25vw 0;
// 			background: lightpink;
// 		}
// 	}
// }

.about {
	width: 104vw;
	position: relative;
	top: -14vh;

	@include tablet {
	}
}

.about__title {
	margin-bottom: 0px;
	margin-left: 20px;
	font-family: "Avenir Next Demi";
	font-weight: 6px;
	font-size: 8vw;
	padding-top: 9vh;
	padding-bottom: 2vh;
	color: #323232;
	padding-top: 11vh;
	margin-top: 3vh;

	@include tablet {
		font-size: 9vw;
		padding-bottom: 0;
		padding-top: 6.5vh;
		margin-left: 8vw;
	}

	@include desktop {
		font-size: 11vw;
		padding-bottom: 6vh;
		padding-top: 0;
		margin-left: 99vw;
		white-space: nowrap;
		margin-top: 0;
	}
}

.about__image {
	max-width: 100vw;
	width: 99vw;
	margin-left: 16px;
	margin-right: 16px;

	@include tablet {
		height: 46vh;
		width: 1122%;
		margin-left: 50vw;
		margin-top: 3vh;
	}
	@include desktop {
		height: 134vh;
		width: 2487%;
		margin-left: 120vw;
		margin-top: 3vh;
		min-width: 393%;
	}
}

.about__quote,
.about__quote--attribution {
	font-family: "Avenir Next Demi";
	color: black;
	font-weight: inherit;
	width: 107vw;
	margin-left: 19px;

	@include tablet {
		margin-left: 54vw;
		font-size: 4.8vw;
		min-width: 97vw;
	}

	@include desktop {
		margin-left: 122vw;
		font-size: 4.8vw;
		min-width: 142vw;
	}
}

.about__quote--attribution {
	position: relative;
	font-weight: 900;
	width: 84%;
	color: black;

	@include tablet {
		@include about-spacing-tablet;
		font-size: 4.5vw;
	}

	@include desktop {
		width: 128vw;
		margin-left: 122vw;
		font-size: 4.5vw;
	}
}

.about__texts {
	@include tablet {
		margin-left: 16px;
		display: flex;
		padding-left: 48vw;
		position: relative;
		left: 30vw;
	}

	@include desktop {
		margin-left: 118vw;
		display: flex;
		padding-left: 50vw;
		position: relative;
	}
}

.about__texts--subtitle {
	margin-left: 20px;
	font-family: Avenir Next;
	font-size: 18px;
	color: black;

	@include tablet {
		display: flex;
		min-width: -webkit-fill-available;
		left: 17vw;
		font-size: 3.0vw;
		font-family: 'Avenir Next Demi';
	}
	@include desktop {
		left: -76vw;
		position: relative;
		font-size: 3vw;
		font-family: "Avenir Next Demi";
		white-space: nowrap;
		bottom: 3vh;
	}
}

.about__texts--box2,
.about__texts--box1 {
	margin-left: 22px;
	font-family: Avenir Next;
	font-weight: 14px;
	font-size: 4vw;
	width: 90%;

	@include tablet {
		display: flex;
		width: 900vw;
		padding: left;
		position: relative;
		right: 77vw;
		top: 4vh;
		font-size: 3vw;
		min-width: 50vw;
	}
	@include desktop {
		width: 922vw;
		top: 7vh;
		min-width: 71vw;
	}
}

.gallery {
	margin-top: 0;
	padding-top: 0;
	position: relative;
	bottom: 13vh;

	@include tablet {
		margin-top: 0;
		padding-top: 0;
		position: relative;
		bottom: 13vh;
		left: 17vw;
		background-color: #fafafa;
	}

	@include desktop {
		margin-top: 0;
		padding-top: 0;
		position: relative;
		bottom: 13vh;
		background-color: #fafafa;
		margin-left: 48vw;
	}
}

.gallery__title {
	font-family: Avenir Next Demi;
	font-size: 7vw;
	color: #323232;
	padding-bottom: 0%;
	margin-bottom: 1vh;
	margin-left: 5vw;

	@include tablet {
		font-size: 9.5vw;
		padding-bottom: 1vh;
		padding-top: 6vh;
		margin-left: 2vw;
	}

	@include desktop {
		font-size: 9.5vw;
		padding-bottom: 5vh;
		padding-top: 12vh;
		margin-left: 2vw;
		white-space: nowrap;
	}
}

.gallery__row1 {
	@include tablet {
		display: inline-flex;
		width: 5vw;
	}
}

.gallery__row2 {
	width: 100vw;

	@include tablet {
		display: inline-flex;
	}
}

.gallery__row3 {
	@include tablet {
		width: 100vw;
		display: inline-flex;
	}
}

.gallery__image {
	width: 97vw;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 8px;

	@include tablet {
		width: 151vw;
		margin-left: 25px;
		margin-right: 16px;
		margin-bottom: 16px;
		min-width: 60vw;
	}

	@include desktop {
		width: 151vw;
		margin-left: 35px;
		margin-right: 35px;
		margin-bottom: 35px;
		min-width: 93vw;
	}
}

.footer {
	background-color: #323232;
	margin-top: -98px;
	width: 107vw;
	background-color: #323232;
	margin-top: -98px;

	@include tablet {
		min-width: 226vw;
		background-color: #323232;
		margin-top: -98px;
		height: 40vh;
		min-height: 53vh;
	}
	@include desktop {
		min-width: 750vw;
		background-color: #323232;
		margin-top: -98px;
		height: 40vh;
		min-height: 250vh;
	}
}

.footer__title {
	@include white;
	font-family: avenir next;
	padding-top: 2vh;
	@include align-left;

	@include tablet {
		flex-direction: row;
		font-size: 6vw;
		position: relative;
		top: 2.5vh;
		left: 13.5vh;
		font-family: "Avenir Next Demi";
	}

	@include desktop {
		flex-direction: row;
		font-size: 9vw;
		position: relative;
		top: 18.5vh;
		left: 129.5vh;
		font-family: "Avenir Next Demi";
		white-space: nowrap;
		padding-bottom: 6vh;
	}
}
.footer__social {
	position: relative;
	left: 20px;

	@include tablet {
		display: inline-flex;
		position: relative;
		left: 75.5vw;
		bottom: 6vw;
		height: 3vh;
	}
	@include desktop {
		display: inline-flex;
		position: relative;
		left: 138.5vw;
		bottom: 9.5vw;
		height: 17vh;
	}
}
.footer__social--icons1,
.footer__social--icons3 {
	@include white;
	width: 8%;

	@include tablet {
	}
	@include desktop {
		width: 25%;
	}
}

.footer__social--icons2 {
	width: 5%;
	margin-left: 8vw;
	margin-right: 8vw;

	@include tablet {
		margin-left: 5vw;
		margin-right: 5vw;
	}
	@include desktop {
		margin-left: 12vw;
		margin-right: 12vw;
		width: 25%;
	}
}

.footer__contact {
	@include white;
	@include align-left;
	margin: 0;
	@include font-face;

	// @include desktop {
	// 	padding-bottom: 2vh;
	// }
}

.footer__contact--left {
	@include tablet {
		padding-top: 0;
		display: flex;
		flex-direction: column;
		position: relative;
		left: 18vw;
	}
	@include desktop {
		display: flex;
		flex-direction: column;
		position: relative;
		left: 68vw;
	}
}

.footer__contact--info1a {
	@include white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
		margin-top: 0px;
		padding-top: 0px;
		position: relative;
		top: 2.5vh;
	}
}
.footer__contact--info1b {
	margin: 0 0 0 0;
	font-family: Avenir Next;
	color: white;
	white-space: nowrap;

	@include tablet {
		margin-top: 0px;
		padding-top: 0px;
		position: relative;
		top: 2.5vh;
	}
}
.footer__contact--info2 {
	@include white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
	}
}
.footer__contact--info2a {
	@include white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
	}
}
.footer__contact--info2b {
	@include white;
	font-family: Avenir Next;
	margin: 0vh 0 0 0;

	@include tablet {
	}
}
.footer__contact--info3 {
	@include white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
	}
}

.footer__contact--middle {
	@include tablet {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 84vw;
		bottom: 22.5vh;
	}
	@include desktop {
		display: flex;
		flex-direction: column;
		position: relative;
		left: 164vw;
		bottom: 48vh;
	}
}
.footer__contact--info4 {
	@include white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
	}
}
.footer__contact--info4a {
	@include white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
	}
}
.footer__contact--info4b {
	@include white;
	font-family: Avenir Next;
	margin: 0 0 0 0;

	@include tablet {
	}
}
.footer__contact--info5 {
	@include white;
	font-family: Avenir Next;
	margin: 0 0 0 0;

	@include tablet {
	}
}
.footer__contact--info5a {
	@include white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
	}
}
.footer__contact--info5b {
	@include white;
	font-family: Avenir Next;
	margin: 0 0 0 0;

	@include tablet {
	}
}
.footer__contact--info6 {
	@include white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
	}
}

.footer__contact--right {
	@include tablet {
		display: flex;
		flex-direction: column;
		position: relative;
		left: 149vw;
		bottom: 20.5vh;
	}

	@include desktop {
		display: flex;
		flex-direction: column;
		position: relative;
		left: 259vw;
		bottom: 96vh;
	}
}

.footer__contact--info7 {
	@include white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
		font-size: 3vw;
	}
}
.footer__contact--info7a {
	@include white;
	font-family: Avenir Next;
	margin: 0 0 0 0;

	@include tablet {
	}
}
.footer__contact--info7b {
	@include white;
	font-family: Avenir Next;
	margin: 0 0 0 0;

	@include tablet {
	}
}
.footer__contact--info8 {
	@include white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
	}
}
.footer__contact--info8a {
	@include white;
	font-family: Avenir Next;
	margin: 0 0 0 0;

	@include tablet {
	}
}
.footer__contact--info8b {
	@include white;
	font-family: Avenir Next;
	margin: 0 0 0 0;

	@include tablet {
	}
}
.footer__contact--info {
	@include white;
	margin: 3vh 0 0 0;

	@include tablet {
	}
}

.footer__contact--info1a,
.footer__contact--info1b,
.footer__contact--info2a,
.footer__contact--info2b,
.footer__contact--info3,
.footer__contact--info4a,
.footer__contact--info4b,
.footer__contact--info5a,
.footer__contact--info5b,
.footer__contact--info6,
.footer__contact--info7,
.footer__contact--info7a,
.footer__contact--info7b,
.footer__contact--info8a,
.footer__contact--info8b,
.footer__contact--info9 {
	@include tablet {
		font-size: 3vw;
	}
}

.footer__copyright {
	@include white;
	padding-bottom: 1vh;

	@include tablet {
		margin: 0%;
		padding: 0%;
	}
}
.footer__name {
	max-height: 20px;
	max-width: 120px;
	margin-top: 7vh;

	@include tablet {
		margin-top: 0;
		position: relative;
		left: 156vw;
		top: -52vh;
		min-width: 100%;
		width: 28vw;
		min-height: 3vh;
	}
	@include desktop {
		margin-top: 0;
		position: relative;
		left: 319vw;
		top: -175vh;
		min-width: 100%;
		width: 28vw;
		min-height: 11vh;
	}
}

.copyright__title {
	@include white;

	@include tablet {
		position: relative;
		bottom: 14vh;
		left: 2vw;
	}

	@include desktop {
		position: relative;
		bottom: 41vh;
		left: 67vw;
		font-size: 5vw;
		white-space: nowrap;
	}
}
