html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}
html,
body {
  margin: 0;
  margin-right: 0%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir Next";
  src: url(../.././Assets/Font/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../../Assets/Font/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "Avenir Next";
  src: url(../.././Assets/Font/AvenirNextLTPro-Regular.otf);
}
.h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.h2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
}

.p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #323232;
}

.main {
  margin-left: 16px;
  margin-right: 16px;
}

.body {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 767px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .body {
    max-width: 1279px;
  }
}
@media screen and (min-width: 1280px) {
  .body {
    max-width: 1999px;
  }
}

.header {
  background-color: #323232;
  max-width: 768px;
  display: flex;
  justify-content: start;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 2vh;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    padding-right: 225vw;
    height: 6vh;
    width: 152vw;
    align-items: flex-start;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    padding-right: 225vw;
    height: 6vh;
    width: 152vw;
    align-items: flex-start;
    flex-direction: row;
  }
}
.header__name {
  color: white;
  margin: 0%;
  width: 30vw;
  font-family: "Avenir Next";
}
@media screen and (min-width: 768px) {
  .header__name {
    display: flex;
    height: 2.75vh;
  }
}
@media screen and (min-width: 1280px) {
  .header__name {
    display: flex;
    height: 2.75vh;
  }
}
.header__nav {
  display: flex;
  font-size: 14px;
  position: relative;
  top: 1.25vh;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-self: self-end;
  }
}
.header__nav__desktop {
  display: flex;
  align-self: self-end;
}
.header__nav--items1 {
  color: white;
  font-family: Avenir Next;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  margin-right: 21vw;
  border-bottom: solid 3px #fafafa;
  margin-top: -1vw;
  text-decoration: none;
  margin-bottom: 1.15vh;
  padding-bottom: 1vh;
}
@media screen and (min-width: 768px) {
  .header__nav--items1 {
    font-size: 2.5vw;
    border-bottom: solid 4px white;
    justify-content: center;
    padding-bottom: 13%;
    position: relative;
    font-size: 2.5vw;
    border-bottom: solid 4px white;
    justify-content: center;
    left: 10vw;
    padding-bottom: 13%;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav--items1 {
    position: relative;
    font-size: 2.5vw;
    border-bottom: solid 4px white;
    justify-content: center;
    left: 10vw;
    padding-bottom: 6%;
  }
}
.header__nav--items2 {
  color: darkgray;
  font-family: Avenir Next;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  margin-top: -1vw;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header__nav--items2 {
    display: flex;
    font-size: 2.75vw;
    align-content: start;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav--items2 {
    display: flex;
    font-size: 2.75vw;
    align-content: start;
    text-decoration: none;
  }
}

.hero__image {
  position: absolute;
  padding-top: auto;
  margin-top: -12px;
  position: relative;
  top: 13px;
  width: 100%;
  background-image: url(../../Assets/Images/hero-bio.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center center;
  background-color: dimgray;
  background-blend-mode: multiply;
}
.hero__name {
  color: white;
  margin: 0%;
  position: relative;
  right: -7vw;
  bottom: 23vh;
  font-family: Avenir Next Demi;
  font-weight: 500;
  font-size: 7vw;
}
@media screen and (min-width: 768px) {
  .hero__name {
    display: flex;
    font-size: 7vw;
  }
}
.about {
  width: 104vw;
  padding-top: 0px;
  margin-top: 0px;
}
.about__title {
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: "Avenir Next Demi";
  font-weight: 6px;
  font-size: 8vw;
  padding-bottom: 2vh;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 7vw;
    padding-bottom: 0px;
    /* padding-top: 6.5vh; */
    margin-left: 8vw;
    margin-top: 0%;
  }
}
.about__image {
  max-width: 100%;
  width: 97vw;
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .about__image {
    height: 40vh;
    width: 80%;
    margin-left: 8vw;
    margin-top: 3vh;
  }
}
.about__quote,
.about__quote--attribution {
  font-family: "Avenir Next Demi";
  color: black;
  font-weight: inherit;
  width: 90%;
  margin-left: 19px;
}
@media screen and (min-width: 768px) {
  .about__quote,
.about__quote--attribution {
    margin-left: 9vw;
    font-size: 3.8vw;
    width: 80%;
  }
}
.about__quote--attribution {
  position: relative;
  font-weight: 900;
  width: 84%;
  color: black;
}
@media screen and (min-width: 768px) {
  .about__quote--attribution {
    width: 128vw;
    margin-left: 51vw;
    font-size: 3vw;
    margin-left: 10vw;
  }
}
.about__texts {
  margin-left: 16px;
  padding-left: 27vw;
  display: contents;
}
@media screen and (min-width: 768px) {
  .about__texts {
    display: flex;
    width: 97%;
    margin-top: 5vh;
    margin-left: -45vw;
  }
}
.about__texts--subtitle {
  margin-left: 20px;
  font-family: Avenir Next;
  font-size: 18px;
  color: black;
}
@media screen and (min-width: 768px) {
  .about__texts--subtitle {
    display: flex;
    font-size: 3vw;
    font-family: "Avenir Next Demi";
    position: -webkit-sticky;
    position: sticky;
    left: 7vh;
    white-space: nowrap;
    margin-top: -1vh;
  }
}
@media screen and (min-width: 1280px) {
  .about__texts--subtitle {
    display: flex;
    font-size: 3vw;
    font-family: "Avenir Next Demi";
    position: -webkit-sticky;
    position: sticky;
    left: 15vh;
    white-space: nowrap;
    margin-top: -1vh;
  }
}

.about__texts--box2,
.about__texts--box1 {
  margin-left: 22px;
  font-family: Avenir Next;
  font-weight: 14px;
  font-size: 4vw;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .about__texts--box2,
.about__texts--box1 {
    margin-right: 0vw;
    height: 32vh;
    display: flex;
    width: 100%;
    padding: left;
    font-size: 2.25vw;
    padding: 1vh;
  }
}
.gallery {
  margin-top: 0;
  padding-top: 2vh;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 0;
    background-color: #fafafa;
    margin-left: 3%;
    margin-top: 16%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    margin-top: 0;
    padding-top: 17vh;
    background-color: #fafafa;
    margin-left: 3%;
  }
}
.gallery__title {
  font-family: Avenir Next Demi;
  font-size: 7vw;
  color: #323232;
  padding-bottom: 0%;
  margin-bottom: 1vh;
  margin-left: 5vw;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 5vw;
    padding-bottom: 1vh;
    padding-top: 5%;
    margin-left: 0vw;
  }
}
@media screen and (min-width: 768px) {
  .gallery__row1 {
    display: inline-flex;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__row1 {
    display: inline-flex;
  }
}
.gallery__row2 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__row2 {
    display: inline-flex;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__row2 {
    display: inline-flex;
  }
}
@media screen and (min-width: 768px) {
  .gallery__row3 {
    width: 100%;
    display: inline-flex;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__row3 {
    display: inline-flex;
  }
}
.gallery__image {
  width: 97vw;
  margin-left: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 31%;
    margin-left: 0px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image {
    width: 31%;
    margin-left: 0px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}

.comments {
  display: table;
  height: 94vh;
}
@media screen and (min-width: 768px) {
  .comments {
    display: table;
    height: 94vh;
    padding-top: 5%;
  }
}
.comments__title {
  font-family: Avenir Next Demi;
  font-size: 7vw;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .comments__title {
    font-family: Avenir Next Demi;
    font-size: 5vw;
    margin-left: 21px;
    padding-bottom: 2%;
  }
}
.comments__avatar {
  max-width: 10vw;
  max-height: 10vh;
}
.comments__name-label {
  font-size: 3vw;
  color: #323232;
}
.comments__holder {
  min-width: 92%;
  height: 12.5vh;
}
.comments__button {
  font-family: "Avenir Next Demi";
  background-color: #323232;
  color: #fafafa;
  border-radius: 2%;
}
.comments__copy {
  font-family: Avenir Next;
  width: 98%;
  display: flex;
  margin-top: 3%;
  font-size: 4.5vw;
}
@media screen and (min-width: 768px) {
  .comments__copy {
    font-family: Avenir Next;
    width: 98%;
    display: flex;
    margin-top: 3%;
    font-size: 1.5vw;
  }
}
.comments__single {
  display: flex;
  border-top: solid 2px dimgray;
  border-bottom: solid 2px dimgray;
  width: 90%;
  margin-left: 6%;
}
@media screen and (min-width: 768px) {
  .comments__single {
    display: flex;
    border-top: solid 2px dimgray;
    border-bottom: solid 2px dimgray;
    width: 83%;
    margin-left: 9%;
  }
}
.comments__list {
  margin-top: 5%;
}
@media screen and (min-width: 1280px) {
  .comments__list {
    padding-bottom: 20vh;
    margin-top: 5%;
  }
}

.commenter-name {
  font-family: "Avenir Next Demi";
  color: #323232;
  display: inline-flex;
  margin-right: 28%;
  margin-left: 0%;
  margin-bottom: 0%;
}
@media screen and (min-width: 768px) {
  .commenter-name {
    font-family: "Avenir Next Demi";
    color: #323232;
    display: inline-flex;
    margin-right: 66%;
    margin-left: 0%;
    margin-bottom: 0%;
  }
}

.date--text {
  font-family: "Avenir Next";
  color: dimgray;
  display: inline-flex;
  margin-bottom: 0%;
}

.commenter__avatar {
  height: 5vh;
  background-image: url(../Assets/Images/Mohan-muruge.jpg);
  width: 52vw;
  border-radius: 50%;
  margin: 0;
  display: flex;
  align-self: center;
  position: relative;
  right: 3vw;
  bottom: 4vh;
}
@media screen and (min-width: 768px) {
  .commenter__avatar {
    height: 5vh;
    background-image: url(../Assets/Images/Mohan-muruge.jpg);
    width: 21vw;
    border-radius: 50%;
    margin: 0;
    display: flex;
    align-self: center;
    position: relative;
    right: 3vw;
    bottom: 2vh;
  }
}

.form {
  display: table;
}
.form__image {
  border-radius: 50%;
  width: 17%;
  display: flex;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .form__image {
    width: 10%;
    display: flex;
    position: absolute;
    height: 6%;
    left: 5vw;
    margin-right: 0px;
  }
}
.form__container {
  display: table;
}
.form__group {
  display: table;
}
.form__fields {
  margin-left: 20vw;
  margin-bottom: 5v;
  width: 80vw;
}
.form__label {
  display: flex;
  flex-direction: column;
  font-family: "Avenir Next";
}
.form__input--name {
  width: 75%;
  padding: 1vh;
  margin-bottom: 2vh;
  font-family: "Avenir Next";
  color: dimgray;
  background-color: #fafafa;
  border: dimgray 1px solid;
}
@media screen and (min-width: 768px) {
  .form__input--name {
    width: 78%;
    padding: 1vh;
    margin-bottom: 2vh;
    font-family: "Avenir Next";
    color: black;
    background-color: #fafafa;
    border: dimgray 1px solid;
  }
}
.form__input--comment {
  width: 79%;
  margin-bottom: 2vh;
  font-family: "Avenir Next";
  color: dimgray;
  background-color: #fafafa;
  border: 3px black;
  padding-top: 1vh;
  padding-bottom: 6vh;
  display: flex;
  padding-left: 2vw;
  border: dimgray 1px solid;
}
.form__button {
  border-radius: 6%;
  display: flex;
  padding: 3%;
  margin-left: 56%;
  background-color: gray;
  color: white;
  font-family: "Avenir Next";
  border: 0;
  margin-top: 6%;
}
@media screen and (min-width: 768px) {
  .form__button {
    border-radius: 6%;
    display: flex;
    padding: 3%;
    margin-left: 56%;
    background-color: #323232;
    color: white;
    font-family: "Avenir Next";
    border: 0;
    margin-top: 6%;
    width: 25%;
    justify-content: center;
    font-size: 2.5vw;
  }
}

.footer {
  background-color: #323232;
  margin-top: -98px;
  width: 100%;
  background-color: #323232;
  margin-top: -98px;
}
@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
    background-color: #323232;
    margin-top: -98px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    width: 100%;
    background-color: #323232;
    margin-top: -98px;
    height: 51vh;
    overflow-y: hidden;
  }
}
.footer__title {
  color: white;
  font-family: avenir next;
  padding-top: 2vh;
  position: relative;
  left: 16px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    flex-direction: row;
    font-size: 5vw;
    position: relative;
    top: 0.5vh;
    left: 2.5vh;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    flex-direction: row;
    font-size: 5vw;
    font-family: "Avenir Next Demi";
    white-space: nowrap;
    padding-bottom: 9vh;
    padding-top: 0vh;
    margin-top: 3vh;
  }
}
.footer__social {
  position: relative;
  left: 20px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    display: inline-flex;
    position: relative;
    left: 38.5vw;
    bottom: 15vw;
    height: 13vh;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social {
    display: inline-flex;
    position: relative;
    bottom: 12.5vw;
    height: 3vh;
  }
}
.footer__social--icons2 {
  width: 4%;
  margin-left: 8vw;
  margin-right: 8vw;
}
@media screen and (min-width: 768px) {
  .footer__social--icons2 {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social--icons2 {
    margin-left: 6vw;
    margin-right: 6vw;
    width: 25%;
  }
}

.footer__social--icons1,
.footer__social--icons3 {
  color: white;
  width: 8%;
}
@media screen and (min-width: 768px) {
  .footer__social--icons1,
.footer__social--icons3 {
    width: 7%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social--icons1,
.footer__social--icons3 {
    width: 25%;
  }
}

.footer__contact {
  color: white;
  position: relative;
  left: 16px;
  margin: 0;
  font-family: "Avenir Next";
}

@media screen and (min-width: 768px) {
  .footer__contact--left {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2vw;
    bottom: 10vh;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact--left {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
.footer__contact--info1a {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}

@media screen and (min-width: 768px) {
  .footer__contact--info1a {
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    top: 2.5vh;
  }
}
.footer__contact--info1b {
  margin: 0 0 0 0;
  font-family: Avenir Next;
  color: white;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .footer__contact--info1b {
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    top: 2.5vh;
  }
}
.footer__contact--info2 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}

.footer__contact--info2a {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}

.footer__contact--info2b {
  color: white;
  font-family: Avenir Next;
  margin: 0vh 0 0 0;
}

.footer__contact--info3 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}

@media screen and (min-width: 768px) {
  .footer__contact--middle {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 36vw;
    bottom: 27.5vh;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact--middle {
    position: relative;
    bottom: 42vh;
  }
}
.footer__contact--info4 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}

.footer__contact--info4a {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}

.footer__contact--info4b {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}

.footer__contact--info5 {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}

.footer__contact--info5a {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}

.footer__contact--info5b {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}

.footer__contact--info6 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}

@media screen and (min-width: 768px) {
  .footer__contact--right {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 68vw;
    bottom: 26.5vh;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact--right {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 70vh;
    left: 68vw;
  }
}
.footer__contact--info7 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}

@media screen and (min-width: 768px) {
  .footer__contact--info7 {
    font-size: 3vw;
  }
}
.footer__contact--info7a {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}

.footer__contact--info7b {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}

.footer__contact--info8 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}

.footer__contact--info8a {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}

.footer__contact--info8b {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}

.footer__contact--info {
  color: white;
  margin: 3vh 0 0 0;
}

@media screen and (min-width: 768px) {
  .footer__contact--info1a,
.footer__contact--info1b,
.footer__contact--info2a,
.footer__contact--info2b,
.footer__contact--info3,
.footer__contact--info4a,
.footer__contact--info4b,
.footer__contact--info5a,
.footer__contact--info5b,
.footer__contact--info6,
.footer__contact--info7,
.footer__contact--info7a,
.footer__contact--info7b,
.footer__contact--info8a,
.footer__contact--info8b,
.footer__contact--info9 {
    font-size: 2vw;
  }
}
.footer__copyright {
  color: white;
  padding-bottom: 1vh;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin: 0%;
    padding: 0%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    bottom: 60vh;
    font-size: 2vw;
    white-space: nowrap;
  }
}

.footer__name {
  max-height: 20px;
  max-width: 120px;
  margin-top: 7vh;
}

@media screen and (min-width: 768px) {
  .footer__name {
    margin-top: 0;
    position: relative;
    left: 156vw;
    top: -52vh;
    min-width: 100%;
    width: 28vw;
    min-height: 3vh;
  }
}
@media screen and (min-width: 1280px) {
  .footer__name {
    margin-top: 0;
    left: 40vw;
    top: -110vh;
    width: 5vw;
  }
}
.copyright__title {
  color: white;
}

@media screen and (min-width: 768px) {
  .copyright__title {
    position: relative;
    bottom: 14vh;
    left: 2vw;
  }
}
@media screen and (min-width: 1280px) {
  .copyright__title {
    position: relative;
    bottom: 57vh;
    white-space: nowrap;
    margin-left: 1%;
  }
}
.header__links {
  text-decoration: none;
}/*# sourceMappingURL=bio.css.map */