@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
	@include tablet {
	}
	@include desktop {
	}
}

html,
body {
	margin: 0;
	margin-right: 0%;
	overflow-x: hidden;
}

@include font-face;

.main {
	@include marg;
}

.body {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 767px;
	margin: 0;

	@include tablet {
		max-width: 1279px;
	}
	@include desktop {
		max-width: 1999px;
	}
}

.header {
	background-color: #323232;
	max-width: 768px;
	display: flex;
	justify-content: start;
	width: 100%;
	align-items: center;
	flex-direction: column;
	padding-top: 2vh;

	@include tablet {
		display: flex;
		padding-right: 225vw;
		height: 6vh;
		width: 152vw;
		align-items: flex-start;
		flex-direction: row;
	}
	@include desktop {
		display: flex;
		padding-right: 225vw;
		height: 7vh;
		width: 152vw;
		align-items: flex-start;
		flex-direction: row;
	}
	&__links {
		text-decoration: none;
	}

	&__name {
		color: white;
		margin: 0%;
		width: 30vw;
		font-family: "Avenir Next";

		@include tablet {
			display: flex;
			height: 2.75vh;
		}

		@include desktop {
			display: flex;
			height: 2.75vh;
		}
	}

	&__nav {
		display: flex;
		font-size: 14px;
		position: relative;
		top: 1.25vh;

		@include tablet {
			display: flex;
			align-self: self-end;
		}

		&__desktop {
			display: flex;
			align-self: self-end;
		}
	}

	&__nav--items1 {
		color: white;
		font-family: Avenir Next;
		font-weight: 400;
		font-size: 18px;
		display: flex;
		flex-direction: row;
		margin-right: 21vw;
		margin-top: -1vw;
		text-decoration: none;
		margin-bottom: 1.15vh;
		padding-bottom: 1vh;

		@include tablet {
			font-size: 2.5vw;

			justify-content: center;
			padding-bottom: 13%;
			position: relative;
			font-size: 2.5vw;
			justify-content: center;
			left: 10vw;
			padding-bottom: 13%;
			text-decoration: none;
		}

		@include desktop {
			position: relative;
			font-size: 1.5vw;
			justify-content: center;
			left: 10vw;
			padding-bottom: 10%;
			text-decoration: none;
		}
	}
	&__nav--items2 {
		color: darkgray;
		font-family: Avenir Next;
		font-weight: 400;
		font-size: 18px;
		display: flex;
		flex-direction: row;
		margin-top: -1vw;
		text-decoration: none;
		border-bottom: solid 3px #fafafa;

		@include tablet {
			display: flex;
			font-size: 2.75vw;
			align-content: start;
			text-decoration: none;
			border-bottom: solid 3px #fafafa;
		}
		@include desktop {
			display: flex;
			font-size: 1.5vw;
			align-content: start;
			text-decoration: none;
			border-bottom: solid 3px #fafafa;
			height: 72%;
		}
	}
}

.show__dates {
}

.show__dates-item {
}

.shows {
	height: 110vh;
	overflow: scroll;

	&__date--label {
		font-family: Avenir Next;
		color: dimgray;
		font-size: 3vw;
		@include tablet {
			height: 122vh;
			overflow: scroll;
		}
		@include desktop {
			height: 122vh;
			overflow: scroll;
		}
	}
	&__labels {
		visibility: hidden;

		@include tablet {
			display: inline-flex;
			font-family: Avenir Next;
			color: dimgray;
			font-size: 3vw;
			visibility: visible;
			margin-left: 1%;
			margin-right: 19%;
		}
		@include desktop {
			display: inline-flex;
			font-family: Avenir Next;
			color: dimgray;
			font-size: 3vw;
			visibility: visible;
			margin-left: 1%;
			margin-right: 19%;
			margin-bottom: 7%;
		}
	}

	&__header {
		margin-left: 5%;
		margin-top: 3%;
		font-family: "Avenir Next Demi";
		font-size: 10vw;
		margin-bottom: -25%;

		@include tablet {
			margin-left: 5%;
			margin-top: 6%;
			font-family: "Avenir Next Demi";
			font-size: 10vw;
			margin-bottom: 5%;
		}
		@include desktop {
			margin-left: 5%;
			margin-top: 6%;
			font-family: "Avenir Next Demi";
			font-size: 10vw;
			margin-bottom: 5%;
		}
	}
	&__date {
		font-family: Avenir Next;
	}

	&__single {
		font-family: Avenir Next;
		@include tablet {
			font-family: Avenir Next;
			display: inline-flex;
		}
		@include desktop {
			font-family: Avenir Next;
			display: inline-flex;
		}
	}

	&__holder {
		font-family: Avenir Next;
		margin-left: 5%;
		border-bottom: 2px solid dimgray;
		width: 90%;
		margin-bottom: 9%;
		@include tablet {
			font-family: Avenir Next;
			border-bottom: 2px solid dimgray;
			width: 90%;
			margin-bottom: 9%;
			display: flex;
			align-items: baseline;
			align-content: space-around;
			height: 3vh;
		}
		@include desktop {
			font-family: Avenir Next;
			border-bottom: 2px solid dimgray;
			width: 90%;
			margin-bottom: 9%;
			display: flex;
			align-items: baseline;
			align-content: space-around;
			height: 3vh;
		}
	}
	&__date {
		font-family: Avenir Next Demi;
		font-size: 3vw;

		@include tablet {
			font-family: Avenir Next Demi;
			font-size: 3vw;
			white-space: nowrap;
			margin-left: -5%;
			margin-right: -3%;
			align-self: flex-end;
		}
		@include desktop {
			font-family: Avenir Next Demi;
			font-size: 3vw;
			white-space: nowrap;
			margin-left: -5%;
			margin-right: -3%;
			align-self: flex-end;
		}
	}
	&__date--label {
		font-family: Avenir Next;
		color: dimgray;
		font-size: 2vw;
		@include tablet {
			font-family: Avenir Next;
			color: dimgray;
			font-size: 2vw;
			display: inline-flex;
			white-space: nowrap;
			visibility: hidden;
			align-self: flex-end;
		}
		@include desktop {
			font-family: Avenir Next;
			color: dimgray;
			font-size: 2vw;
			display: inline-flex;
			white-space: nowrap;
			visibility: hidden;
			align-self: flex-end;
		}
	}

	&__venue {
		font-family: Avenir Next;
		font-size: 3vw;
		@include tablet {
			font-family: Avenir Next;
			font-size: 3vw;
			white-space: nowrap;
			margin-right: -6%;
			align-content: flex-end;
			margin-top: -10%;
		}
		@include desktop {
			font-family: Avenir Next;
			font-size: 3vw;
			white-space: nowrap;
			margin-right: -6%;
			align-content: flex-end;
			margin-top: -10%;
		}
	}

	&__venue--label {
		font-family: Avenir Next;
		color: dimgray;
		font-size: 2vw;

		@include tablet {
			font-family: Avenir Next;
			color: dimgray;
			font-size: 2vw;
			visibility: hidden;
			align-self: flex-end;
		}

		@include desktop {
			font-family: Avenir Next;
			color: dimgray;
			font-size: 2vw;
			visibility: hidden;
			align-self: flex-end;
		}
	}
	&__location {
		font-family: Avenir Next;
		font-size: 3vw;
		@include tablet {
			font-family: Avenir Next;
			font-size: 3vw;
			white-space: nowrap;
			align-self: flex-end;
		}
		@include desktop {
			font-family: Avenir Next;
			font-size: 3vw;
			white-space: nowrap;
			align-self: flex-end;
		}
	}

	&__location--label {
		font-family: Avenir Next;
		color: dimgray;
		font-size: 2vw;
		@include tablet {
			font-family: Avenir Next;
			color: dimgray;
			font-size: 2vw;
			visibility: hidden;
			align-self: flex-end;
		}
		@include desktop {
			font-family: Avenir Next;
			color: dimgray;
			font-size: 2vw;
			visibility: hidden;
			align-self: flex-end;
		}
	}

	&__tickets-button {
		font-family: Avenir Next;
		padding: 2%;
		color: #fafafa;
		width: 90%;
		background-color: #323232;
		margin-bottom: 5%;
		border-radius: 6%;
		border: none;
		font-size: 4vw;
		@include tablet {
			font-family: Avenir Next;
			padding: 2%;
			color: #fafafa;
			width: 98%;
			background-color: #323232;
			border-radius: 6%;
			border: none;
			font-size: 2vw;
			white-space: nowrap;
			margin-right: -1%;
			margin-left: 3%;
			margin-top: -6%;
		}
		@include desktop {
			font-family: Avenir Next;
			padding: 2%;
			color: #fafafa;
			width: 98%;
			background-color: #323232;
			border-radius: 6%;
			border: none;
			font-size: 2vw;
			white-space: nowrap;
			margin-right: -1%;
			margin-left: 3%;
			margin-top: -6%;
		}
	}
}

.li {
}

.hero {
	&__image {
		position: absolute;
		padding-top: auto;
		margin-top: -12px;
		position: relative;
		top: 13px;
		width: 100%;
		background-image: url(../Assets/Images/hero-shows.jpg);
		height: 50vh;
		background-size: cover;
		background-position: center center;
		background-color: dimgray;
		background-blend-mode: multiply;

		@include tablet {
			margin-top: -12px;
			position: relative;
			top: 13px;
			width: 100%;
			background-image: url(../Assets/Images/hero-shows.jpg);
			height: 56vh;
			background-size: cover;
			background-position: center center;
			background-color: dimgray;
			background-blend-mode: multiply;
		}

		@include desktop {
			height: 54vh;
		}
	}

	&__image-subtitle {
		font-family: "Avenir Next";
		color: white;
		display: flex;
		flex-direction: column;
		margin: 0;
		font-size: 5vw;
		margin-left: 5%;

		@include desktop {
			font-family: "Avenir Next";
			color: white;
			display: flex;
			flex-direction: column;
			margin: 0;
			padding-top: 0%;
			font-size: 4vw;
			padding-bottom: 0;
		}
		@include tablet {
			font-family: "Avenir Next";
			color: white;
			display: flex;
			flex-direction: column;
			margin: 0;
			font-size: 4vw;
			margin-left: 5%;
		}
	}

	&__title {
		color: white;
		margin: 0%;
		font-family: Avenir Next Demi;
		font-weight: 500;
		font-size: 10vw;
		margin-top: 0px;
		padding-top: 0px;
		padding-bottom: 3%;
		margin-left: 5%;

		@include tablet {
			display: flex;
			font-size: 7vw;
			position: bottom;
			position: relative;
		}

		@include desktop {
			display: flex;
			font-size: 5vw;
			position: bottom;
			bottom: -1vh;
			max-width: 63%;
			margin: 0;
			padding: 0;
		}
	}

	&__titles {
		padding-top: 20%;

		@include tablet {
			display: flex;
			flex-direction: column;
			width: 69%;
			margin-left: 6%;
			padding: 0;
			padding-top: 10%;
		}
		@include desktop {
			display: flex;
			flex-direction: column;
			width: 69%;
			margin-left: 6%;
			padding: 0;
			padding-top: 14%;
		}
	}

	&__song--iframe {
		display: flex;
		width: 90%;
		margin-left: 5%;
		height: 10vh;

		@include tablet {
			display: flex;
			width: 50%;
			margin-left: 10%;
			height: 10vh;
			padding: 0;
		}

		@include desktop {
			display: flex;
			width: 30%;
			height: 14vh;
			position: absolute;
			left: 52vw;
			bottom: 21vh;
		}
	}
}

.mobilePrestitial {
	text-align: center;
	background: rgba(0, 0, 0, .4);
	position: absolute;
}

.mobilePrestitial__wrapper {
	visibility: collapse;
	width: 0%;
}
.mobilePrestitial__deeplink.sc-button-large {
	visibility: hidden;
}

.footer {
	background-color: #323232;
	margin-top: -98px;
	width: 100%;
	background-color: #323232;
	margin-top: -98px;

	@include tablet {
		width: 100%;
		background-color: #323232;
		margin-top: -98px;
	}

	@include desktop {
		display: inline-flex;
	}

	&__get-in-touch {
		@include desktop {
			flex-direction: column;
			display: flex;
		}

		@include tablet {
			flex-direction: column;
			display: flex;
		}
	}
	&__name {
		margin-left: 16px;
		margin-bottom: -113%;
		width: 36vw;

		@include tablet {
			// margin-top: 0;
			// position: relative;
			// left: 156vw;
			// top: -52vh;
			// min-width: 100%;
			// width: 28vw;
			// min-height: 3vh;
			display: inline-flex;
			width: 17vw;
			margin-left: 79%;
			margin-top: -3%;
		}

		@include desktop {
			// margin-top: 0;
			// left: 40vw;
			// top: -110vh;
			// width: 5vw;
			display: inline-flex;
			width: 14vw;
			margin-left: 285%;
			margin-top: -6%;
		}
	}

	&__title {
		color: white;
		font-family: avenir next 'Avenir Next Demi';
		padding-top: 2vh;
		position: relative;

		font-size: 7vw;
		font-family: 'Avenir Next Demi';
		margin-left: 14px;
		@include tablet {
			flex-direction: row;
			font-size: 4vw;
			font-family: "Avenir Next Demi";
		}

		@include desktop {
			flex-direction: row;
			font-size: 5vw;
			font-family: "Avenir Next Demi";
			white-space: nowrap;
			padding-bottom: 8.5vh;
			padding-top: 0vh;
			margin-top: 3vh;
		}
	}

	&__social {
		position: relative;
		left: 20px;
		width: 60%;

		@include tablet {
			display: inline-flex;
			height: 3vh;
			flex-direction: unset;
			margin-left: 33%;
			margin-top: -7%;
		}

		@include desktop {
			display: inline-flex;
			height: 3vh;
			flex-direction: unset;
			margin-left: 124%;
			width: 25vw;
			margin-top: -56%;
		}
	}

	&__social--icons2 {
		width: 4%;
		margin-left: 8vw;
		margin-right: 8vw;

		@include tablet {
			margin-left: 5vw;
			margin-right: 5vw;
		}

		@include desktop {
			margin-left: 6vw;
			margin-right: 6vw;
			width: 25%;
		}
	}
	&__contact {
		color: white;
		position: relative;
		left: 16px;
		margin: 0;
		font-family: "Avenir Next";

		@include desktop {
			color: white;
			margin: 0;
			font-family: "Avenir Next";
			width: 100%;
			min-width: 100%;
			display: inline-flex;
			padding-top: 14%;
			margin-left: -26%;
			padding-bottom: 10%;
			display: flex;
		}
		@include tablet {
			padding-top: 13%;
			display: flex;
			padding-bottom: 5%;
		}
	}
	&__contact--left {
		@include tablet {
			padding-top: 0;
			display: flex;
			flex-direction: column;
		}

		@include desktop {
			padding-top: 0;
			display: flex;
			flex-direction: column;
		}
	}

	&__contact--info1a {
		color: white;
		font-family: Avenir Next;
		margin: 0vh 0 0 0;

		@include tablet {
			margin-top: 0px;
			padding-top: 0px;
			position: relative;
			top: 2.5vh;
		}
	}

	&__contact--info1b {
		margin: 0 0 0 0;
		font-family: Avenir Next;
		color: white;
		white-space: nowrap;

		@include tablet {
			margin-top: 0px;
			padding-top: 0px;
			position: relative;
			top: 2.5vh;
		}
	}

	&__contact--info2 {
		color: white;
		font-family: Avenir Next;
		margin: 3vh 0 0 0;
	}
	&__contact--info2a {
		color: white;
		font-family: Avenir Next;
		margin: 3vh 0 0 0;
	}
	&__contact--info2b {
		color: white;
		font-family: Avenir Next;
		margin: 0vh 0 0 0;
	}
	&__contact--info3 {
		color: white;
		font-family: Avenir Next;
		margin: 3vh 0 0 0;
	}

	&__contact--middle {
		@include tablet {
			display: flex;
			flex-direction: column;
			margin-left: 5%;
		}

		@include desktop {
			display: flex;
			flex-direction: column;
			margin-left: 5%;
		}
	}

	&__contact--info4 {
		color: white;
		font-family: Avenir Next;
		margin: 3vh 0 0 0;

		@include desktop {
			color: white;
			font-family: Avenir Next;
			margin: 0 0 0 0;
			padding-top: 0;
			margin-top: 0;
		}
		@include tablet {
			color: white;
			font-family: Avenir Next;
			margin: 0 0 0 0;
			padding-top: 0;
			margin-top: 0;
		}
	}
	&__contact--info4a {
		color: white;
		font-family: Avenir Next;
		margin: 3vh 0 0 0;
	}
	&__contact--info4b {
		color: white;
		font-family: Avenir Next;
		margin: 0 0 0 0;
	}
	&__contact--info5 {
		color: white;
		font-family: Avenir Next;
		margin: 0 0 0 0;
	}
	&__contact--info5a {
		color: white;
		font-family: Avenir Next;
		margin: 3vh 0 0 0;
	}
	&__contact--info5b {
		color: white;
		font-family: Avenir Next;
		margin: 0 0 0 0;
	}
	&__contact--info6 {
		color: white;
		font-family: Avenir Next;
		margin: 3vh 0 0 0;
	}

	&__contact--right {
		@include tablet {
			display: flex;
			flex-direction: column;
			margin-left: 6%;
		}

		@include desktop {
			display: flex;
			flex-direction: column;
			margin-left: 6%;
		}
	}

	&__contact--info7 {
		color: white;
		font-family: Avenir Next;
		margin: 3vh 0 0 0;

		@include tablet {
			font-size: 3vw;
		}
	}

	&__contact--info7a {
		color: white;
		font-family: Avenir Next;
		margin: 0 0 0 0;
	}
	&__contact--info7b {
		color: white;
		font-family: Avenir Next;
		margin: 0 0 0 0;
	}
	&__contact--info8 {
		color: white;
		font-family: Avenir Next;
		margin: 3vh 0 0 0;
	}
	&__contact--info8a {
		color: white;
		font-family: Avenir Next;
		margin: 0 0 0 0;
	}
	&__contact--info8b {
		color: white;
		font-family: Avenir Next;
		margin: 0 0 0 0;
	}
	&__contact--info {
		color: white;
		margin: 3vh 0 0 0;
	}

	&__copyright {
		color: white;
		padding-bottom: 1vh;
		padding-top: 3vh;
		margin-left: 16px;

		@include tablet {
			margin: 0%;
			padding: 0%;
		}
		@include desktop {
			display: flex;
			font-size: 2vw;
			margin-left: -100%;
			margin-top: 39%;
		}
	}
}
.copyright--title {
	color: white;

	@include tablet {
		position: relative;
		bottom: 14vh;
		left: 2vw;
	}

	@include desktop {
		white-space: nowrap;

		display: flex;
		margin-right: 50%;
	}
}

.footer__social--icons1,
.footer__social--icons3 {
	color: white;
	width: 8%;

	@include tablet {
		width: 7%;
	}

	@include desktop {
		width: 25%;
	}
}

.footer__contact--info1a,
.footer__contact--info1b,
.footer__contact--info2a,
.footer__contact--info2b,
.footer__contact--info3,
.footer__contact--info4a,
.footer__contact--info4b,
.footer__contact--info5a,
.footer__contact--info5b,
.footer__contact--info6,
.footer__contact--info7,
.footer__contact--info7a,
.footer__contact--info7b,
.footer__contact--info8a,
.footer__contact--info8b,
.footer__contact--info9 {
	@include tablet {
		font-size: 2vw;
	}
}
