.h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.h2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
}

.p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #323232;
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url(../../Assets/Font/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "Avenir Next";
  src: url(../.././Assets/Font/AvenirNextLTPro-Regular.otf);
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}
html,
body {
  margin: 0;
  margin-right: 0%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir Next";
  src: url(../.././Assets/Font/AvenirNextLTPro-Regular.otf);
}
.main {
  margin-left: 16px;
  margin-right: 16px;
}

.body {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 767px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .body {
    max-width: 1279px;
  }
}
@media screen and (min-width: 1280px) {
  .body {
    max-width: 1999px;
  }
}

.header {
  background-color: #323232;
  max-width: 768px;
  display: flex;
  justify-content: start;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 2vh;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    padding-right: 225vw;
    height: 6vh;
    width: 152vw;
    align-items: flex-start;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    padding-right: 225vw;
    height: 7vh;
    width: 152vw;
    align-items: flex-start;
    flex-direction: row;
  }
}
.header__links {
  text-decoration: none;
}
.header__name {
  color: white;
  margin: 0%;
  width: 30vw;
  font-family: "Avenir Next";
}
@media screen and (min-width: 768px) {
  .header__name {
    display: flex;
    height: 2.75vh;
  }
}
@media screen and (min-width: 1280px) {
  .header__name {
    display: flex;
    height: 2.75vh;
  }
}
.header__nav {
  display: flex;
  font-size: 14px;
  position: relative;
  top: 1.25vh;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-self: self-end;
  }
}
.header__nav__desktop {
  display: flex;
  align-self: self-end;
}
.header__nav--items1 {
  color: white;
  font-family: Avenir Next;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  margin-right: 21vw;
  margin-top: -1vw;
  text-decoration: none;
  margin-bottom: 1.15vh;
  padding-bottom: 1vh;
}
@media screen and (min-width: 768px) {
  .header__nav--items1 {
    font-size: 2.5vw;
    justify-content: center;
    padding-bottom: 13%;
    position: relative;
    font-size: 2.5vw;
    justify-content: center;
    left: 10vw;
    padding-bottom: 13%;
    text-decoration: none;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav--items1 {
    position: relative;
    font-size: 1.5vw;
    justify-content: center;
    left: 10vw;
    padding-bottom: 10%;
    text-decoration: none;
  }
}
.header__nav--items2 {
  color: darkgray;
  font-family: Avenir Next;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  margin-top: -1vw;
  text-decoration: none;
  border-bottom: solid 3px #fafafa;
}
@media screen and (min-width: 768px) {
  .header__nav--items2 {
    display: flex;
    font-size: 2.75vw;
    align-content: start;
    text-decoration: none;
    border-bottom: solid 3px #fafafa;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav--items2 {
    display: flex;
    font-size: 1.5vw;
    align-content: start;
    text-decoration: none;
    border-bottom: solid 3px #fafafa;
    height: 72%;
  }
}

.shows {
  height: 110vh;
  overflow: scroll;
}
.shows__date--label {
  font-family: Avenir Next;
  color: dimgray;
  font-size: 3vw;
}
@media screen and (min-width: 768px) {
  .shows__date--label {
    height: 122vh;
    overflow: scroll;
  }
}
@media screen and (min-width: 1280px) {
  .shows__date--label {
    height: 122vh;
    overflow: scroll;
  }
}
.shows__labels {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .shows__labels {
    display: inline-flex;
    font-family: Avenir Next;
    color: dimgray;
    font-size: 3vw;
    visibility: visible;
    margin-left: 1%;
    margin-right: 19%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__labels {
    display: inline-flex;
    font-family: Avenir Next;
    color: dimgray;
    font-size: 3vw;
    visibility: visible;
    margin-left: 1%;
    margin-right: 19%;
    margin-bottom: 7%;
  }
}
.shows__header {
  margin-left: 5%;
  margin-top: 3%;
  font-family: "Avenir Next Demi";
  font-size: 10vw;
  margin-bottom: -25%;
}
@media screen and (min-width: 768px) {
  .shows__header {
    margin-left: 5%;
    margin-top: 6%;
    font-family: "Avenir Next Demi";
    font-size: 10vw;
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__header {
    margin-left: 5%;
    margin-top: 6%;
    font-family: "Avenir Next Demi";
    font-size: 10vw;
    margin-bottom: 5%;
  }
}
.shows__date {
  font-family: Avenir Next;
}
.shows__single {
  font-family: Avenir Next;
}
@media screen and (min-width: 768px) {
  .shows__single {
    font-family: Avenir Next;
    display: inline-flex;
  }
}
@media screen and (min-width: 1280px) {
  .shows__single {
    font-family: Avenir Next;
    display: inline-flex;
  }
}
.shows__holder {
  font-family: Avenir Next;
  margin-left: 5%;
  border-bottom: 2px solid dimgray;
  width: 90%;
  margin-bottom: 9%;
}
@media screen and (min-width: 768px) {
  .shows__holder {
    font-family: Avenir Next;
    border-bottom: 2px solid dimgray;
    width: 90%;
    margin-bottom: 9%;
    display: flex;
    align-items: baseline;
    align-content: space-around;
    height: 3vh;
  }
}
@media screen and (min-width: 1280px) {
  .shows__holder {
    font-family: Avenir Next;
    border-bottom: 2px solid dimgray;
    width: 90%;
    margin-bottom: 9%;
    display: flex;
    align-items: baseline;
    align-content: space-around;
    height: 3vh;
  }
}
.shows__date {
  font-family: Avenir Next Demi;
  font-size: 3vw;
}
@media screen and (min-width: 768px) {
  .shows__date {
    font-family: Avenir Next Demi;
    font-size: 3vw;
    white-space: nowrap;
    margin-left: -5%;
    margin-right: -3%;
    align-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .shows__date {
    font-family: Avenir Next Demi;
    font-size: 3vw;
    white-space: nowrap;
    margin-left: -5%;
    margin-right: -3%;
    align-self: flex-end;
  }
}
.shows__date--label {
  font-family: Avenir Next;
  color: dimgray;
  font-size: 2vw;
}
@media screen and (min-width: 768px) {
  .shows__date--label {
    font-family: Avenir Next;
    color: dimgray;
    font-size: 2vw;
    display: inline-flex;
    white-space: nowrap;
    visibility: hidden;
    align-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .shows__date--label {
    font-family: Avenir Next;
    color: dimgray;
    font-size: 2vw;
    display: inline-flex;
    white-space: nowrap;
    visibility: hidden;
    align-self: flex-end;
  }
}
.shows__venue {
  font-family: Avenir Next;
  font-size: 3vw;
}
@media screen and (min-width: 768px) {
  .shows__venue {
    font-family: Avenir Next;
    font-size: 3vw;
    white-space: nowrap;
    margin-right: -6%;
    align-content: flex-end;
    margin-top: -10%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__venue {
    font-family: Avenir Next;
    font-size: 3vw;
    white-space: nowrap;
    margin-right: -6%;
    align-content: flex-end;
    margin-top: -10%;
  }
}
.shows__venue--label {
  font-family: Avenir Next;
  color: dimgray;
  font-size: 2vw;
}
@media screen and (min-width: 768px) {
  .shows__venue--label {
    font-family: Avenir Next;
    color: dimgray;
    font-size: 2vw;
    visibility: hidden;
    align-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .shows__venue--label {
    font-family: Avenir Next;
    color: dimgray;
    font-size: 2vw;
    visibility: hidden;
    align-self: flex-end;
  }
}
.shows__location {
  font-family: Avenir Next;
  font-size: 3vw;
}
@media screen and (min-width: 768px) {
  .shows__location {
    font-family: Avenir Next;
    font-size: 3vw;
    white-space: nowrap;
    align-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .shows__location {
    font-family: Avenir Next;
    font-size: 3vw;
    white-space: nowrap;
    align-self: flex-end;
  }
}
.shows__location--label {
  font-family: Avenir Next;
  color: dimgray;
  font-size: 2vw;
}
@media screen and (min-width: 768px) {
  .shows__location--label {
    font-family: Avenir Next;
    color: dimgray;
    font-size: 2vw;
    visibility: hidden;
    align-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .shows__location--label {
    font-family: Avenir Next;
    color: dimgray;
    font-size: 2vw;
    visibility: hidden;
    align-self: flex-end;
  }
}
.shows__tickets-button {
  font-family: Avenir Next;
  padding: 2%;
  color: #fafafa;
  width: 90%;
  background-color: #323232;
  margin-bottom: 5%;
  border-radius: 6%;
  border: none;
  font-size: 4vw;
}
@media screen and (min-width: 768px) {
  .shows__tickets-button {
    font-family: Avenir Next;
    padding: 2%;
    color: #fafafa;
    width: 98%;
    background-color: #323232;
    border-radius: 6%;
    border: none;
    font-size: 2vw;
    white-space: nowrap;
    margin-right: -1%;
    margin-left: 3%;
    margin-top: -6%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__tickets-button {
    font-family: Avenir Next;
    padding: 2%;
    color: #fafafa;
    width: 98%;
    background-color: #323232;
    border-radius: 6%;
    border: none;
    font-size: 2vw;
    white-space: nowrap;
    margin-right: -1%;
    margin-left: 3%;
    margin-top: -6%;
  }
}

.hero__image {
  position: absolute;
  padding-top: auto;
  margin-top: -12px;
  position: relative;
  top: 13px;
  width: 100%;
  background-image: url(../Assets/Images/hero-shows.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center center;
  background-color: dimgray;
  background-blend-mode: multiply;
}
@media screen and (min-width: 768px) {
  .hero__image {
    margin-top: -12px;
    position: relative;
    top: 13px;
    width: 100%;
    background-image: url(../Assets/Images/hero-shows.jpg);
    height: 56vh;
    background-size: cover;
    background-position: center center;
    background-color: dimgray;
    background-blend-mode: multiply;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image {
    height: 54vh;
  }
}
.hero__image-subtitle {
  font-family: "Avenir Next";
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 5vw;
  margin-left: 5%;
}
@media screen and (min-width: 1280px) {
  .hero__image-subtitle {
    font-family: "Avenir Next";
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 0%;
    font-size: 4vw;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .hero__image-subtitle {
    font-family: "Avenir Next";
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 4vw;
    margin-left: 5%;
  }
}
.hero__title {
  color: white;
  margin: 0%;
  font-family: Avenir Next Demi;
  font-weight: 500;
  font-size: 10vw;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 3%;
  margin-left: 5%;
}
@media screen and (min-width: 768px) {
  .hero__title {
    display: flex;
    font-size: 7vw;
    position: bottom;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    display: flex;
    font-size: 5vw;
    position: bottom;
    bottom: -1vh;
    max-width: 63%;
    margin: 0;
    padding: 0;
  }
}
.hero__titles {
  padding-top: 20%;
}
@media screen and (min-width: 768px) {
  .hero__titles {
    display: flex;
    flex-direction: column;
    width: 69%;
    margin-left: 6%;
    padding: 0;
    padding-top: 10%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__titles {
    display: flex;
    flex-direction: column;
    width: 69%;
    margin-left: 6%;
    padding: 0;
    padding-top: 14%;
  }
}
.hero__song--iframe {
  display: flex;
  width: 90%;
  margin-left: 5%;
  height: 10vh;
}
@media screen and (min-width: 768px) {
  .hero__song--iframe {
    display: flex;
    width: 50%;
    margin-left: 10%;
    height: 10vh;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__song--iframe {
    display: flex;
    width: 30%;
    height: 14vh;
    position: absolute;
    left: 52vw;
    bottom: 21vh;
  }
}

.mobilePrestitial {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.mobilePrestitial__wrapper {
  visibility: collapse;
  width: 0%;
}

.mobilePrestitial__deeplink.sc-button-large {
  visibility: hidden;
}

.footer {
  background-color: #323232;
  margin-top: -98px;
  width: 100%;
  background-color: #323232;
  margin-top: -98px;
}
@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
    background-color: #323232;
    margin-top: -98px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    display: inline-flex;
  }
}
@media screen and (min-width: 1280px) {
  .footer__get-in-touch {
    flex-direction: column;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer__get-in-touch {
    flex-direction: column;
    display: flex;
  }
}
.footer__name {
  margin-left: 16px;
  margin-bottom: -113%;
  width: 36vw;
}
@media screen and (min-width: 768px) {
  .footer__name {
    display: inline-flex;
    width: 17vw;
    margin-left: 79%;
    margin-top: -3%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__name {
    display: inline-flex;
    width: 14vw;
    margin-left: 285%;
    margin-top: -6%;
  }
}
.footer__title {
  color: white;
  font-family: avenir next "Avenir Next Demi";
  padding-top: 2vh;
  position: relative;
  font-size: 7vw;
  font-family: "Avenir Next Demi";
  margin-left: 14px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    flex-direction: row;
    font-size: 4vw;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    flex-direction: row;
    font-size: 5vw;
    font-family: "Avenir Next Demi";
    white-space: nowrap;
    padding-bottom: 8.5vh;
    padding-top: 0vh;
    margin-top: 3vh;
  }
}
.footer__social {
  position: relative;
  left: 20px;
  width: 60%;
}
@media screen and (min-width: 768px) {
  .footer__social {
    display: inline-flex;
    height: 3vh;
    flex-direction: unset;
    margin-left: 33%;
    margin-top: -7%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social {
    display: inline-flex;
    height: 3vh;
    flex-direction: unset;
    margin-left: 124%;
    width: 25vw;
    margin-top: -56%;
  }
}
.footer__social--icons2 {
  width: 4%;
  margin-left: 8vw;
  margin-right: 8vw;
}
@media screen and (min-width: 768px) {
  .footer__social--icons2 {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social--icons2 {
    margin-left: 6vw;
    margin-right: 6vw;
    width: 25%;
  }
}
.footer__contact {
  color: white;
  position: relative;
  left: 16px;
  margin: 0;
  font-family: "Avenir Next";
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    color: white;
    margin: 0;
    font-family: "Avenir Next";
    width: 100%;
    min-width: 100%;
    display: inline-flex;
    padding-top: 14%;
    margin-left: -26%;
    padding-bottom: 10%;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    padding-top: 13%;
    display: flex;
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact--left {
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact--left {
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
}
.footer__contact--info1a {
  color: white;
  font-family: Avenir Next;
  margin: 0vh 0 0 0;
}
@media screen and (min-width: 768px) {
  .footer__contact--info1a {
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    top: 2.5vh;
  }
}
.footer__contact--info1b {
  margin: 0 0 0 0;
  font-family: Avenir Next;
  color: white;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .footer__contact--info1b {
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    top: 2.5vh;
  }
}
.footer__contact--info2 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}
.footer__contact--info2a {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}
.footer__contact--info2b {
  color: white;
  font-family: Avenir Next;
  margin: 0vh 0 0 0;
}
.footer__contact--info3 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}
@media screen and (min-width: 768px) {
  .footer__contact--middle {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact--middle {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
}
.footer__contact--info4 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}
@media screen and (min-width: 1280px) {
  .footer__contact--info4 {
    color: white;
    font-family: Avenir Next;
    margin: 0 0 0 0;
    padding-top: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact--info4 {
    color: white;
    font-family: Avenir Next;
    margin: 0 0 0 0;
    padding-top: 0;
    margin-top: 0;
  }
}
.footer__contact--info4a {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}
.footer__contact--info4b {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}
.footer__contact--info5 {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}
.footer__contact--info5a {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}
.footer__contact--info5b {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}
.footer__contact--info6 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}
@media screen and (min-width: 768px) {
  .footer__contact--right {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact--right {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
  }
}
.footer__contact--info7 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}
@media screen and (min-width: 768px) {
  .footer__contact--info7 {
    font-size: 3vw;
  }
}
.footer__contact--info7a {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}
.footer__contact--info7b {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}
.footer__contact--info8 {
  color: white;
  font-family: Avenir Next;
  margin: 3vh 0 0 0;
}
.footer__contact--info8a {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}
.footer__contact--info8b {
  color: white;
  font-family: Avenir Next;
  margin: 0 0 0 0;
}
.footer__contact--info {
  color: white;
  margin: 3vh 0 0 0;
}
.footer__copyright {
  color: white;
  padding-bottom: 1vh;
  padding-top: 3vh;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin: 0%;
    padding: 0%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    display: flex;
    font-size: 2vw;
    margin-left: -100%;
    margin-top: 39%;
  }
}

.copyright--title {
  color: white;
}
@media screen and (min-width: 768px) {
  .copyright--title {
    position: relative;
    bottom: 14vh;
    left: 2vw;
  }
}
@media screen and (min-width: 1280px) {
  .copyright--title {
    white-space: nowrap;
    display: flex;
    margin-right: 50%;
  }
}

.footer__social--icons1,
.footer__social--icons3 {
  color: white;
  width: 8%;
}
@media screen and (min-width: 768px) {
  .footer__social--icons1,
.footer__social--icons3 {
    width: 7%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social--icons1,
.footer__social--icons3 {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  .footer__contact--info1a,
.footer__contact--info1b,
.footer__contact--info2a,
.footer__contact--info2b,
.footer__contact--info3,
.footer__contact--info4a,
.footer__contact--info4b,
.footer__contact--info5a,
.footer__contact--info5b,
.footer__contact--info6,
.footer__contact--info7,
.footer__contact--info7a,
.footer__contact--info7b,
.footer__contact--info8a,
.footer__contact--info8b,
.footer__contact--info9 {
    font-size: 2vw;
  }
}/*# sourceMappingURL=shows.css.map */