@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
	@include tablet {
	}
	@include desktop {
	}
}

html,
body {
	margin: 0;
	margin-right: 0%;
	overflow-x: hidden;
}

@include font-face;

.main {
	@include marg;
}

.body {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 767px;
	margin: 0;

	@include tablet {
		max-width: 1279px;
	}
	@include desktop {
		max-width: 1999px;
	}
}

.header {
	background-color: #323232;
	max-width: 768px;
	display: flex;
	justify-content: start;
	width: 100%;
	align-items: center;
	flex-direction: column;
	padding-top: 2vh;

	@include tablet {
		display: flex;
		padding-right: 225vw;
		height: 6vh;
		width: 152vw;
		align-items: flex-start;
		flex-direction: row;
	}
	@include desktop {
		display: flex;
		padding-right: 225vw;
		height: 7vh;
		width: 152vw;
		align-items: flex-start;
		flex-direction: row;
	}

	&__name {
		color: white;
		margin: 0%;
		width: 30vw;
		font-family: "Avenir Next";

		@include tablet {
			display: flex;
			height: 2.75vh;
		}

		@include desktop {
			display: flex;
			height: 2.75vh;
		}
	}

	&__links {
		text-decoration: none;
	}
	&__nav {
		display: flex;
		font-size: 14px;
		position: relative;
		top: 1.25vh;

		@include tablet {
			display: flex;
			align-self: self-end;
		}

		&__desktop {
			display: flex;
			align-self: self-end;
		}
	}

	&__nav--items1 {
		color: white;
		font-family: Avenir Next;
		font-weight: 400;
		font-size: 18px;
		display: flex;
		flex-direction: row;
		margin-right: 21vw;
		border-bottom: solid 3px #fafafa;
		margin-top: -1vw;
		text-decoration: none;
		margin-bottom: 1.15vh;
		padding-bottom: 1vh;

		@include tablet {
			font-size: 2.5vw;
			border-bottom: solid 4px white;
			justify-content: center;
			padding-bottom: 13%;
			position: relative;
			font-size: 2.5vw;
			border-bottom: solid 4px white;
			justify-content: center;
			left: 10vw;
			padding-bottom: 13%;
			text-decoration: none;
		}

		@include desktop {
			position: relative;
			font-size: 1.5vw;
			border-bottom: solid 4px white;
			justify-content: center;
			left: 10vw;
			padding-bottom: 10%;
			text-decoration: none;
		}
	}
	&__nav--items2 {
		color: darkgray;
		font-family: Avenir Next;
		font-weight: 400;
		font-size: 18px;
		display: flex;
		flex-direction: row;
		margin-top: -1vw;
		text-decoration: none;

		@include tablet {
			display: flex;
			font-size: 2.75vw;
			align-content: start;
			text-decoration: none;
		}
		@include desktop {
			display: flex;
			font-size: 1.5vw;
			align-content: start;
			text-decoration: none;
		}
	}
}

.show__dates {
}

.show__dates-item {
}

.shows {
	height: 151vh;
	overflow: scroll;
	&__dates {
		font-family: Avenir Next;
		color: dimgray;
		font-size: 3vw;
	}

	&__header {
		margin-left: 5%;
		margin-top: 9%;
		font-family: 'Avenir Next Demi';
		font-size: 10vw;
	}
	&__dates-item {
		font-family: Avenir Next;
	}

	&__single {
		font-family: Avenir Next;
	}
	&__holder {
		font-family: Avenir Next;
		margin-left: 5%;
		border-bottom: 2px solid dimgray;
		width: 90%;
	}
	&__date {
		font-family: Avenir Next Demi;
	}
	&__date--label {
		font-family: Avenir Next;
		color: dimgray;
		font-size: 3vw;
	}

	&__venue {
		font-family: Avenir Next;
	}

	&__venue--label {
		font-family: Avenir Next;
		color: dimgray;
		font-size: 3vw;
	}
	&__location {
		font-family: Avenir Next;
	}

	&__location--label {
		font-family: Avenir Next;
		color: dimgray;
		font-size: 3vw;
	}

	&__tickets-button {
		font-family: Avenir Next;
		padding: 2%;
		color: #fafafa;
		width: 90%;
		background-color: #323232;
		margin-bottom: 5%;
		border-radius: 6%;
		border: none;
	}
}

.li {
}

.hero {
	&__image {
		position: absolute;
		padding-top: auto;
		margin-top: -12px;
		position: relative;
		top: 13px;
		width: 100%;
		background-image: url(../Assets/Images/hero-shows.jpg);
		height: 50vh;
		background-size: cover;
		background-position: center center;
		background-color: dimgray;
		background-blend-mode: multiply;

		@include tablet {
			padding-bottom: 3vh;
		}
		@include desktop {
			height: 54vh;
		}
	}

	&__image-subtitle {
		font-family: "Avenir Next";
		color: white;
		display: flex;
		flex-direction: column;
		margin: 0;
		padding-top: 19%;
		padding-bottom: 4%;
		font-size: 5vw;
		margin-left: 5%;

		@include desktop {
			font-family: "Avenir Next";
			color: white;
			display: flex;
			flex-direction: column;
			margin: 0;
			padding-top: 10%;
			padding-bottom: 0%;
			font-size: 2.5vw;
			margin-left: 10%;
		}
	}

	&__title {
		color: white;
		margin: 0%;
		font-family: Avenir Next Demi;
		font-weight: 500;
		font-size: 10vw;
		// width: 92%;
		margin-top: 0px;
		padding-top: 0px;
		padding-bottom: 3%;
		margin-left: 5%;

		@include tablet {
			display: flex;
			font-size: 13vw;
			// min-width: 1000%;
			position: bottom;
			position: relative;
		}

		@include desktop {
			display: flex;
			font-size: 4vw;
			position: bottom;
			bottom: -1vh;
			max-width: 40%;
			margin-left: 10%;
		}
	}

	&__song--iframe {
		display: flex;
		width: 90%;
		margin-left: 5%;
		height: 10vh;

		@include desktop {
			display: flex;
			width: 30%;
			height: 14vh;
			position: absolute;
			left: 58vw;
			bottom: 21vh;
		}
	}
}

.mobilePrestitial {
	text-align: center;
	background: rgba(0, 0, 0, .4);
	position: absolute;
}

.mobilePrestitial__wrapper {
	visibility: collapse;
	width: 0%;
}

.footer {
	background-color: #323232;
	margin-top: -98px;
	width: 100%;
	background-color: #323232;
	margin-top: -98px;

	@include tablet {
		width: 100%;
		background-color: #323232;
		margin-top: -98px;
	}

	@include desktop {
		width: 100%;
		background-color: #323232;
		margin-top: -98px;
		height: 51vh;
		overflow-y: hidden;
	}

	&__title {
		color: white;
		font-family: avenir next;
		padding-top: 2vh;
		position: relative;
		left: 16px;

		@include tablet {
			flex-direction: row;
			font-size: 5vw;
			position: relative;
			top: 0.5vh;
			left: 2.5vh;
			font-family: "Avenir Next Demi";
		}

		@include desktop {
			flex-direction: row;
			font-size: 5vw;
			font-family: "Avenir Next Demi";
			white-space: nowrap;
			padding-bottom: 9vh;
			padding-top: 0vh;
			margin-top: 3vh;
		}
	}

	&__social {
		position: relative;
		left: 20px;

		@include tablet {
			display: inline-flex;
			position: relative;
			left: 38.5vw;
			bottom: 15vw;
			height: 13vh;
		}

		@include desktop {
			display: inline-flex;
			position: relative;
			bottom: 12.5vw;
			height: 3vh;
		}
	}

	&__social--icons2 {
		width: 4%;
		margin-left: 8vw;
		margin-right: 8vw;

		@include tablet {
			margin-left: 5vw;
			margin-right: 5vw;
		}

		@include desktop {
			margin-left: 6vw;
			margin-right: 6vw;
			width: 25%;
		}
	}
}

.footer__social--icons1,
.footer__social--icons3 {
	color: white;
	width: 8%;

	@include tablet {
		width: 7%;
	}

	@include desktop {
		width: 25%;
	}
}

.footer__contact {
	color: white;
	position: relative;
	left: 16px;
	margin: 0;
	font-family: "Avenir Next";
}

.footer__contact--left {
	@include tablet {
		padding-top: 0;
		display: flex;
		flex-direction: column;
		position: relative;
		left: 2vw;
		bottom: 10vh;
	}

	@include desktop {
		display: flex;
		flex-direction: column;
		position: relative;
	}
}

.footer__contact--info1a {
	color: white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
		margin-top: 0px;
		padding-top: 0px;
		position: relative;
		top: 2.5vh;
	}
}

.footer__contact--info1b {
	margin: 0 0 0 0;
	font-family: Avenir Next;
	color: white;
	white-space: nowrap;

	@include tablet {
		margin-top: 0px;
		padding-top: 0px;
		position: relative;
		top: 2.5vh;
	}
}

.footer__contact--info2 {
	color: white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;
}
.footer__contact--info2a {
	color: white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;
}
.footer__contact--info2b {
	color: white;
	font-family: Avenir Next;
	margin: 0vh 0 0 0;
}
.footer__contact--info3 {
	color: white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;
}

.footer__contact--middle {
	@include tablet {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 36vw;
		bottom: 27.5vh;
	}

	@include desktop {
		position: relative;
		bottom: 42vh;
	}
}

.footer__contact--info4 {
	color: white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;
}
.footer__contact--info4a {
	color: white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;
}
.footer__contact--info4b {
	color: white;
	font-family: Avenir Next;
	margin: 0 0 0 0;
}
.footer__contact--info5 {
	color: white;
	font-family: Avenir Next;
	margin: 0 0 0 0;
}
.footer__contact--info5a {
	color: white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;
}
.footer__contact--info5b {
	color: white;
	font-family: Avenir Next;
	margin: 0 0 0 0;
}
.footer__contact--info6 {
	color: white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;
}

.footer__contact--right {
	@include tablet {
		display: flex;
		flex-direction: column;
		position: relative;
		left: 68vw;
		bottom: 26.5vh;
	}

	@include desktop {
		display: flex;
		flex-direction: column;
		position: relative;
		bottom: 70vh;
		left: 68vw;
	}
}

.footer__contact--info7 {
	color: white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;

	@include tablet {
		font-size: 3vw;
	}
}

.footer__contact--info7a {
	color: white;
	font-family: Avenir Next;
	margin: 0 0 0 0;
}
.footer__contact--info7b {
	color: white;
	font-family: Avenir Next;
	margin: 0 0 0 0;
}
.footer__contact--info8 {
	color: white;
	font-family: Avenir Next;
	margin: 3vh 0 0 0;
}
.footer__contact--info8a {
	color: white;
	font-family: Avenir Next;
	margin: 0 0 0 0;
}
.footer__contact--info8b {
	color: white;
	font-family: Avenir Next;
	margin: 0 0 0 0;
}
.footer__contact--info {
	color: white;
	margin: 3vh 0 0 0;
}

.footer__contact--info1a,
.footer__contact--info1b,
.footer__contact--info2a,
.footer__contact--info2b,
.footer__contact--info3,
.footer__contact--info4a,
.footer__contact--info4b,
.footer__contact--info5a,
.footer__contact--info5b,
.footer__contact--info6,
.footer__contact--info7,
.footer__contact--info7a,
.footer__contact--info7b,
.footer__contact--info8a,
.footer__contact--info8b,
.footer__contact--info9 {
	@include tablet {
		font-size: 2vw;
	}
}

.footer__copyright {
	color: white;
	padding-bottom: 1vh;

	@include tablet {
		margin: 0%;
		padding: 0%;
	}
	@include desktop {
		bottom: 60vh;
		font-size: 2vw;
		white-space: nowrap;
	}
}

.footer__name {
	max-height: 20px;
	max-width: 120px;
	margin-top: 7vh;

	@include tablet {
		margin-top: 0;
		position: relative;
		left: 156vw;
		top: -52vh;
		min-width: 100%;
		width: 28vw;
		min-height: 3vh;
	}

	@include desktop {
		margin-top: 0;
		left: 40vw;
		top: -110vh;
		width: 5vw;
	}
}

.copyright__title {
	color: white;

	@include tablet {
		position: relative;
		bottom: 14vh;
		left: 2vw;
	}

	@include desktop {
		position: relative;
		bottom: 57vh;
		white-space: nowrap;
		margin-left: 1%;
	}
}

.header__links {
	text-decoration: none;
}
